<h1>WELCOME TO CLASS ONE ANJULAR 13</h1>
<!-- corousals begin -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <!-- row block -->
            <div class="row myRow">
                <div class="col">
                    <img src="assets/images/img1.jpg">
                </div>
                <div class="col">
                    <img src="assets/images/img2.jpg">

                </div>
                <div class="col">
                    <img src="assets/images/img4.jpg">
                </div>
                <div class="col">
                    <img src="assets/images/img5.jpg">
                </div>
                </div>
                <!-- row block -->
            </div>
            <div class="carousel-item">
                <!-- row block -->
                <div class="row myRow">
                    <div class="col">
                        <img src="assets/images/img3.jpg">
                    </div>
                    <div class="col">
                        <img src="assets/images/img5.jpg">

                    </div>
                    <div class="col">
                        <img src="assets/images/img2.jpg">
                    </div>
                    <div class="col">
                        <img src="assets/images/img5.png">
                    </div>
                </div>
                    <!-- row block -->
                </div>
                <div class="carousel-item">
                    <!-- row block -->
                    <div class="row myRow">
                        <div class="col">
                            <img src="assets/images/img5.jpg">
                        </div>
                        <div class="col">
                            <img src="assets/images/img5.png">

                        </div>
                        <div class="col">
                            <img src="assets/images/img3.jpg">
                        </div>
                        <div class="col">
                            <img src="assets/images/img2.jpg">
                        </div>
                    </div>
                        <!-- row block -->
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- corousals end -->


     
        <br><br>
        Department<input type="text" #dept>
        <button (click)="onsave(dept)">Save</button>
        <br>
        dept hod <input [(ngModel)]="dep_hod">
        <br><br><br><br><br><br><br>
        <!-- row 2  -->
        <div class="row myRow">
            <div class="col-3  s">
                <ol >
                    <li *ngFor="let ele of news">{{ele}}</li>
                </ol>
            </div>
            <div class="col-8  m">
                <h1>{{dept_saved}}</h1>
                <h1>{{dep_hod}}</h1>
            </div>
        </div>
   